*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
}

:root {
  --pink: hsl(322, 100%, 66%);
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}

html {
  scroll-behavior: smooth;
}

body {
  user-select: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

img {
  pointer-events: none;
}